@model MyCalendar.ViewModels.CycleEvent
@{
    ViewBag.Title = "Home";
}
@if (User.Identity.IsAuthenticated)
{
    if (!Model.StartDate.Equals(DateTime.MinValue))
    {
        <div class="currentStatus voffset2">
            Day of cycle:
            <span class="dayOfCycle">@((DateTime.Now - Model.StartDate).Days + 1)</span>
        </div>
        <h2 class="voffset2">My latest period</h2>
        <div class="dates smallDates">
            <div class="startDate">
                <span>Start date</span>
                <div class="startDateCard"></div>
                <div class="day">
                    @Model.StartDate.ToString("d ")
                </div>
                <div class="monthYear">
                    @Model.StartDate.ToString("MMM") @Model.StartDate.ToString("yy")
                </div>
            </div>
            <div class="interval">
                <div class="bar"></div>
            </div>
            <div class="endDate">
                <span>End date</span>
                <div class="endDateCard"></div>
                <div class="day">
                    @Model.EndDate.ToString("d ")
                </div>
                <div class="monthYear">
                    @Model.EndDate.ToString("MMM") @Model.EndDate.ToString("yy")
                </div>
            </div>
            @if (!Model.StartDateOfPreviousEvent.Equals(DateTime.MinValue))
            {
                <div class="previous-cycle">
                    Previous menstrual cycle length: <strong>@Model.CycleLength</strong> days
                </div>
            }
        </div>
    }
    if (!Model.OvulationDate.Equals(DateTime.MinValue))
    {
        <h2 class="voffset2">My latest ovulation</h2>
        <div class="dates xsDates">
            <div class="ovulationDate">
                <span>Ovulation</span>
                <div class="ovulationDateCard"></div>
                <div class="day">
                    @Model.OvulationDate.ToString("d ")
                </div>
                <div class="monthYear">
                    @Model.OvulationDate.ToString("MMM") @Model.OvulationDate.ToString("yy")
                </div>
            </div>
            <div class="ovulationInterval">
                <div id="timeTitle">
                    Approximate time:
                </div>
                <div id="time">
                    @Model.OvulationDate.ToString("HH:mm")
                </div>
            </div>
        </div>
    }
    <div>
        <a href="@Url.Action("GetRecentEvents", "CycleEvents")">See more</a>
    </div>
}