@model MyCalendar.Core.ViewModels.CycleEvent
@{
    ViewBag.Title = "Home";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="left-container">
        @if (!Model.StartDate.Equals(DateTime.MinValue))
        {
            <h2 class="voffset4">My latest period</h2>
            <div class="dates s-dates">
                <div class="start-date">
                    <span>Start date</span>
                    <div class="start-date-card"></div>
                    <div class="day">
                        @Model.StartDate.ToString("d ")
                    </div>
                    <div class="month-year">
                        @Model.StartDate.ToString("MMM") @Model.StartDate.ToString("yy")
                    </div>
                </div>
                <div class="interval">
                    <div class="bar"></div>
                </div>
                <div class="end-date">
                    <span>End date</span>
                    <div class="end-date-card"></div>
                    <div class="day">
                        @Model.EndDate.ToString("d ")
                    </div>
                    <div class="month-year">
                        @Model.EndDate.ToString("MMM") @Model.EndDate.ToString("yy")
                    </div>
                </div>
                @if (!Model.StartDateOfPreviousEvent.Equals(DateTime.MinValue))
                {
                    <div class="previous-cycle">
                        Previous menstrual cycle length: <strong>@Model.CycleLength</strong> days
                    </div>
                }
            </div>
        }
        @if (!Model.OvulationDate.Equals(DateTime.MinValue))
        {
            <h2 class="voffset2">My latest ovulation</h2>
            <div class="dates xs-dates">
                <div class="ovulation-date">
                    <span>Ovulation</span>
                    <div class="ovulation-date-card"></div>
                    <div class="day">
                        @Model.OvulationDate.ToString("d ")
                    </div>
                    <div class="month-year">
                        @Model.OvulationDate.ToString("MMM") @Model.OvulationDate.ToString("yy")
                    </div>
                </div>
                <div class="ovulation-interval">
                    <div id="timeTitle">
                        Approximate time:
                    </div>
                    <div id="time">
                        @Model.OvulationDate.ToString("HH:mm")
                    </div>
                </div>
            </div>
        }
        <div>
            <a href="@Url.Action("GetRecentEvents", "CycleEvents")">See more</a>
        </div>
    </div>
    <div class="right-container">
        @if (!Model.StartDate.Equals(DateTime.MinValue))
        {
            <div class="current-status">
                <div class="line-shadow"></div>
                <div class="voffset1">
                    Day of cycle:
                    <div class="days">
                        @((DateTime.Now - Model.StartDate).Days + 1)
                    </div>
                </div>
                <div class="line-shadow"></div>
                <div class="voffset1">
                    Expected date of upcoming period:
                    <div class="days">
                        @Model.FuturePeriodDate.ToString("d MMM yyyy")
                    </div>
                </div>
                <div class="line-shadow"></div>
                <div class="voffset1">
                    Average length of cycle:
                    <div class="days">
                        @Model.AverageCycleLength days
                    </div>
                </div>
                <div class="line-shadow"></div>
            </div>
        }
    </div>
}