@model MyCalendar.ViewModels.CycleEventFormViewModel
@{
    ViewBag.Title = "Add an event";
}

<h2>Add an Event</h2>
@using (Html.BeginForm("Create", "CycleEvents"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.StartDate, "Start Date")
        @Html.TextBoxFor(m => m.StartDate, new {@class = "form-control", autofocus="autofocus", placeholder ="eg 1 Jan 2020"})
        @Html.ValidationMessageFor(m => m.StartDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EndDate, "End Date")
        @Html.TextBoxFor(m => m.EndDate, new {@class = "form-control", placeholder="eg 3 Jan 2020" })
        @Html.ValidationMessageFor(m => m.EndDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Type)
        @Html.DropDownListFor(m => m.Type, new SelectList(Model.Types, "Id", "Name"), "Nothing Selected", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Type)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new {@class = "form-control", placeholder= "eg 11:00" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
