@model MyCalendar.Core.ViewModels.CycleEventFormViewModel
@{
    ViewBag.Title = Model.Heading;
}

<h2 class="voffset2">@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "CycleEvents"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Type)
        @Html.DropDownListFor(m => m.Type, new SelectList(Model.Types, "Id", "Name"), "Nothing Selected", new { @class = "form-control", @id = "eventDropdown" })
        @Html.ValidationMessageFor(m => m.Type)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StartDate, "Start Date")
        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", autofocus = "autofocus", placeholder = "eg 1 Jan 2020" })
        @Html.ValidationMessageFor(m => m.StartDate)
    </div>
    <div class="form-group" id="eventEndDate">
        @Html.LabelFor(m => m.EndDate, "End Date")
        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", placeholder = "eg 3 Jan 2020" })
        @Html.ValidationMessageFor(m => m.EndDate)
    </div>
    <div class="form-group" id="eventTime">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "eg 11:00" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>
    <button type="submit" class="btn btn-primary voffset">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            CycleEventFormController.init("#eventDropdown", "#eventTime", "#eventEndDate");
        });
    </script>
}
